/*-----------
 Font Family 
 ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/*-------------
Header Styles 
--------------*/
.header {
    background-color: black;
    width: 1400px;
    height: 646px;

    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
}

.container1 {
    display: flex;
    padding-left: 106px;
}

.headline {
    color: lightblue;
    width: 500px;
    font-weight: 700;
    font-size: 50px;
    padding-top: 1px;

}

.world-cup {
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 500px;

}

.btn1 {
    text-decoration: none;
    background-color: lightcoral;
    padding: 10px 40px;
    border-radius: 5px;
}



.btn1:hover {
    background-color: aqua;
}

.banner-img {
    padding: 120px;
    width: 500px;
}

/*-----------
 Body Styles
 ------------*/
.buttons {
    width: 312px;
    height: 312px;
    background-color: black;
    text-align: center;
    padding: 30px;
    padding-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 140px;
}

.match {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;

}

.group {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 20px 91px;
    border-radius: 10px;

}

.blog {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: lightcoral;
    padding: 20px 115px;
    border-radius: 10px;
}




.button1 {
    padding-top: 30px;
}

.button2 {
    padding-top: 70px;
}

.button3 {
    padding-top: 70px;
}

.blogs {
    display: flex;
}

.transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    padding-left: 14px;

}

.card {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 312px;
    height: 362px;
    padding-left: 24px;
}

.card .box {
    display: grid;
    grid-template-columns: 3, 1fr;
}

.card img {
    width: 100%;
}

.box-title {
    padding-left: 10px;
}

.fa-message {
    padding-left: 30px;
}

.time,
.message {
    padding-left: 10px;
}

.view {
    background-color: lightcoral;
    padding: 10px 40px;
    border-radius: 5px;

}

.view-all {
    text-align: center;
}

.view-all,
.view {
    display: none;
}


/*-------------
 Footer Styles 
 --------------*/
.footer {
    text-align: center;
    background-color: #161616;
    height: 444px;

}


.goal {
    color: white;
    font-weight: 600;
    padding-top: 150px;
}

hr {
    width: 75%;
    height: 0;
    border: 0.5px solid gray;
}

.service {
    text-decoration: none;
    padding-left: 25px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-top: 50px;

}

.fa-brands {
    color: dodgerblue;
    padding: 10px;
}


/*-----------------
 Match-HTML Styles 
-------------------*/

.match2 {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: lightcoral;
    padding: 20px 40px;
    border-radius: 10px;
}

.group2 {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 20px 91px;
    border-radius: 10px;
}

.blog2 {
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 20px 115px;
    border-radius: 10px;
}

.flag {
    display: flex;

}

.versus {
    padding-left: 20px;
    padding-right: 20px;
}

.box-title2 {
    padding-left: 35px;
}

/*------------------
 Responsive Website 
 -------------------*/

/* Mobilen Layout */

@media only screen and (min-width:120px) and (max-width:480px) {

    .header {
        width: 667px;
        height: 1227px;
        text-align: center;
        margin-left: 320px;
    }

    .container1 {
        display: contents;
        width: 100%;
    }

    .headline {
        text-align: center;
        margin-left: 83px;
    }

    .world-cup {
        padding-left: 80px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card img {
        width: 100%;
    }

    .box {
        width: 100%;
    }


    .transfer {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .buttons {
        background-color: white;
        margin-top: 0;
        margin-left: 455px;
    }

    .transfer {
        width: 667px;
        margin-top: 40px;
        padding-left: 463px;
    }

    .view-all,
    .view {
        display: none;
    }


    footer {
        width: 100%;
        width: 667px;

        text-align: center;
        margin-left: 320px;
        border-radius: 20px;
    }

    .footer {
        height: 100%;
    }

    .ft-container {
        background-color: #161616;
    }

    hr {
        width: 335px;
    }

    .service {
        display: grid;
        grid-template-columns: 1, 1fr;
    }

    .fa-brands {
        text-align: center;
    }

}

/* Tablate Layout */

@media only screen and (min-width:481px) and (max-width:768px) {
    body {

        margin: 100px 100px;
    }

    .headedr {
        width: 1250px;
        position: relative;
    }

    .container1 {

        width: 100%;
    }

    .transfer {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 0;
        padding-left: 400px;
    }

    .card img {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .buttons {
        height: 95px;
        width: 166%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 0);
        justify-content: start;
        margin-top: 0;
        padding-top: 0;
        padding-left: 300px;
    }

    .view-all {
        padding-left: 500px;
    }

    footer {
        width: 1450px;
        padding: 150px;

    }

    .footer {}
}

@media only screen and (min-width:769px) and (max-width:1500px) {


    .view-all,
    .view {
        display: none;
    }
}